body{
    margin: 0px;
    font-family: 'Single Day', cursive;
}

.container-one{
    background-color: rgb(239, 223, 255);
    padding: 10px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    background-color: rgb(216, 179, 247);
    margin: 5px;
    padding: 50px 50px;
    display: flex;
    max-width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-weight: bold;
    font-size: 19.5px;
    color: rgb(38, 19, 54);
}

.right{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   gap: 0px;
   width: 35%;
   padding: 15px 70px 10px 0px;
   padding-right: 70px;
   margin-right: 40px;
   
   
}

.hero-right{
    align-self: stretch;
    border-radius: 8px;
    color: white;
    background-color: grey;
    padding: 175px;
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
    background-image: url(./images/birthday-cat-happy-birthday.gif);
    background-position: 40%;
}

.container-one .left img{
    max-width: 15%;
    margin: 0px;
    padding: 0px;
    height: auto;
}

.container-two{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(216, 197, 219);
    font-size: 20px;
    padding-top: 0px;
}
.container-two .items{
    display: flex;
    flex-direction: column;
    justify-content: center;;
    align-items: center;
    font-size: 20px;
}


.container-three{
    background-color: aquamarine;
    padding: 450px;
    background-image: url(./images/videoplayback.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer{
    text-align: center;
    padding: 15px;
    background-color: #b3a2c7;
    color: white;
    font-weight: 900;
}
